<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--googlemap 넣기-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdcrzqmVvJgOpIy23Dlw08MHrQN1C17Sg&libraries=geometry"></script>
    <!--jquery 넣기-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
    var map = null;
    //구글맵 기본 설정 시작
      function initialize() {
        //학교별 지도 view 다르게 시작
        if("<%= @univ %>" == "서강"){
          var mapOptions = {
            center: { lat: 37.551445, lng: 126.940793},
            zoom: 16
          };
        } else if ("<%= @univ %>" == "이화") {
          var mapOptions = {
            center: { lat: 37.561803, lng: 126.946909},
            zoom: 16
          };  
        
        } else if("<%= @univ %>" == "연세") {
          var mapOptions = {
            center: { lat: 37.561257, lng: 126.936974},
            zoom: 16
          };  
        } else {
          var mapOptions = {
            center: { lat: 37.557102, lng: 126.940806},
            zoom: 15
          }; 
        } //학교별 지도 view 다르게하기 끝
      map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
      
      //학교별 문 이미지 삽입
      var image1 = {
        url: '/images/jung.png',
        size: new google.maps.Size(40, 25),
        
        };
        
        //후문 이미지
        var image2 = {
        url: '/images/who.png',
        size: new google.maps.Size(40, 25),
        
        };
        
        //남문 이미지
        var image3 = {
        url: '/images/nam.png',
        size: new google.maps.Size(40, 25),
        
        };
        
        //북문 이미지
        var image4 = {
        url: '/images/book.png',
        size: new google.maps.Size(40, 25),
        
        };
        
        //서문 이미지
        var image5 = {
        url: '/images/seo.png',
        size: new google.maps.Size(40, 25),
        
        };
        
        //서강대 문
        //정문
      var doorMarker1 = new google.maps.Marker({
        position: {lat: 37.551405, lng: 126.937727},
        map: map,
        icon: image1
      });
          
          
      //후문
      var doorMarker3 = new google.maps.Marker({
        position: {lat: 37.550660, lng: 126.943936},
        map: map,
        icon: image2
      }); 
      
        //남문
      var doorMarker2 = new google.maps.Marker({
        position: {lat: 37.549376, lng: 126.938918},
        map: map,
        icon: image3
      });
      
      
      
      //이화여대 문
      
      //정문
      var doorMarker4 = new google.maps.Marker({
        position: {lat: 37.559727, lng: 126.945536},
        map: map,
        icon: image1
      });
      
      //후문
      var doorMarker5 = new google.maps.Marker({
        position: {lat: 37.563548, lng: 126.944605},
        map: map,
        icon: image2
      });
      
      
      //북문
      var doorMarker6 = new google.maps.Marker({
        position: {lat: 37.568269, lng: 126.949951},
        map: map,
        icon: image4
      });
      
      
      //서문
      var doorMarker7 = new google.maps.Marker({
        position: {lat: 37.560564, lng: 126.943427},
        map: map,
        icon: image5
      });
      
    
      var a = {
        url: '/images/a.jpg',
        size: new google.maps.Size(100, 50),
        };
      
       var b = {
        url: '/images/b.jpg',
        size: new google.maps.Size(100, 50),
        };
        
        var c = {
        url: '/images/c.jpg',
        size: new google.maps.Size(100, 50),
        };
        
        var d = {
        url: '/images/d.jpg',
        size: new google.maps.Size(100, 50),
        };
       
        var e = {
        url: '/images/e.jpg',
        size: new google.maps.Size(100, 50),
        };


      
      
      
//서강A(서강대 정문)
  var sogang_a = [
    {lat:37.549929, lng:126.932928},{lat:37.549949, lng:126.933503},{lat:37.549758, lng:126.937520},
    {lat:37.549687, lng:126.937893},{lat:37.549706, lng:126.938092},{lat:37.549815, lng:126.938444}, //얘까지 구역3랑 겹침
    {lat:37.550728, lng:126.937935},{lat:37.551342, lng:126.937656},{lat:37.551869, lng:126.937468},
    {lat:37.552006, lng:126.938068},{lat:37.552363, lng:126.938596},{lat:37.552938, lng:126.939108},
    {lat:37.553320, lng:126.939313},{lat:37.553361, lng:126.939309},{lat:37.553426, lng:126.939262},
    {lat:37.553464, lng:126.939243},{lat:37.553518, lng:126.939371},{lat:37.553583, lng:126.939349},
    {lat:37.553571, lng:126.939320},{lat:37.553740, lng:126.939230},{lat:37.553773, lng:126.939190},
    {lat:37.553925, lng:126.939104},{lat:37.553979, lng:126.939045},{lat:37.555019, lng:126.938481},
    {lat:37.555117, lng:126.938367},{lat:37.555385, lng:126.938228},{lat:37.555070, lng:126.937191},
    {lat:37.554747, lng:126.936397},{lat:37.553346, lng:126.934091},{lat:37.552870, lng:126.933512},
    {lat:37.552570, lng:126.933265},{lat:37.552285, lng:126.933101}
    ];
  
   //공통B(서강-이화-연대)  
   var sogang_ewha_yonsei_b = [
    {lat:37.553320, lng:126.939313},{lat:37.553361, lng:126.939309},{lat:37.553426, lng:126.939262},
    {lat:37.553464, lng:126.939243},{lat:37.553518, lng:126.939371},{lat:37.553583, lng:126.939349},
    {lat:37.553571, lng:126.939320},{lat:37.553740, lng:126.939230},{lat:37.553773, lng:126.939190},
    {lat:37.553925, lng:126.939104},{lat:37.553979, lng:126.939045},{lat:37.555019, lng:126.938481},
    {lat:37.555117, lng:126.938367},{lat:37.555385, lng:126.938228},{lat:37.555458, lng:126.937795},
    {lat:37.555890, lng:126.937567},{lat:37.555941, lng:126.937473},{lat:37.556957, lng:126.937492},
    {lat:37.557570, lng:126.937447},{lat:37.559014, lng:126.939414},//연대 정문(A)시작 지점
    {lat:37.559068, lng:126.939704},{lat:37.559112, lng:126.942823},//신촌기차역. 이대정문구역이랑 겹침
    {lat:37.558547, lng:126.942733},{lat:37.556472, lng:126.942865},//구역2랑 겹침
    {lat:37.555711, lng:126.942913},{lat:37.555637, lng:126.942877},{lat:37.555605, lng:126.943034},
    {lat:37.555507, lng:126.943362},{lat:37.555465, lng:126.943569},{lat:37.554984, lng:126.943408},
    {lat:37.554887, lng:126.943363},{lat:37.554748, lng:126.943324},{lat:37.554643, lng:126.943317},
    {lat:37.554641, lng:126.943270},{lat:37.553374, lng:126.940865},{lat:37.553320, lng:126.939313}
    ];
    
  //서강이화C(서강대 후문-이대역)
  var sogang_ewha_c = [
    {lat:37.552311, lng:126.949407},{lat:37.552419, lng:126.948938},{lat:37.552292, lng:126.948584},
    {lat:37.552190, lng:126.948195},{lat:37.552066, lng:126.947814},{lat:37.552027, lng:126.947469},
    {lat:37.552087, lng:126.947246},{lat:37.552223, lng:126.947029},{lat:37.552233, lng:126.946906},
    {lat:37.552162, lng:126.946747},{lat:37.552157, lng:126.945189},{lat:37.551982, lng:126.944938},
    {lat:37.551490, lng:126.944473},{lat:37.550938, lng:126.944175},{lat:37.550999, lng:126.943973},
    {lat:37.551120, lng:126.943949},{lat:37.551267, lng:126.943961},{lat:37.551605, lng:126.944146},
    {lat:37.552392, lng:126.943489},{lat:37.552502, lng:126.943634},{lat:37.552589, lng:126.943696},
    {lat:37.552689, lng:126.943714},{lat:37.552768, lng:126.943702},{lat:37.552839, lng:126.943612},
    {lat:37.552858, lng:126.943540},{lat:37.552910, lng:126.943502},{lat:37.552943, lng:126.943435},
    {lat:37.552940, lng:126.943348},{lat:37.552922, lng:126.943293},{lat:37.552957, lng:126.942964},
    {lat:37.553000, lng:126.942938},{lat:37.553390, lng:126.943003},{lat:37.553426, lng:126.943032},
    {lat:37.553482, lng:126.943106},{lat:37.553586, lng:126.943193},{lat:37.553689, lng:126.943262},
    {lat:37.554045, lng:126.943355},{lat:37.554130, lng:126.943353},{lat:37.554151, lng:126.943276},
    {lat:37.554172, lng:126.943225},{lat:37.554225, lng:126.943220},{lat:37.554339, lng:126.943282},
    {lat:37.554485, lng:126.943298},{lat:37.554561, lng:126.943277},{lat:37.554641, lng:126.943270},//구역5랑 겹치는 부분
    {lat:37.554643, lng:126.943317},{lat:37.554748, lng:126.943324},{lat:37.554887, lng:126.943363},
    {lat:37.554984, lng:126.943408},{lat:37.555465, lng:126.943569},{lat:37.555507, lng:126.943362},
    {lat:37.555605, lng:126.943034},{lat:37.555637, lng:126.942877},{lat:37.555711, lng:126.942913},
    {lat:37.556472, lng:126.942865},{lat:37.556897, lng:126.949849},{lat:37.555082, lng:126.949936},
    {lat:37.554214, lng:126.950315},{lat:37.552440, lng:126.950118},{lat:37.552294, lng:126.949606},
    {lat:37.552311, lng:126.949407}
    ];
    
  //서강D(서강대 후문-대흥역)
  var sogang_d = [
    {lat:37.550138, lng:126.943970},{lat:37.549508, lng:126.940748},{lat:37.548904, lng:126.940769},
    {lat:37.548113, lng:126.942121},{lat:37.547858, lng:126.941900},{lat:37.547449, lng:126.942818},
    {lat:37.547117, lng:126.942413},{lat:37.546652, lng:126.942075},{lat:37.546001, lng:126.944256},
    {lat:37.546041, lng:126.946101},{lat:37.546552, lng:126.946646},{lat:37.546947, lng:126.947005},
    {lat:37.547464, lng:126.947276},{lat:37.548125, lng:126.947346},{lat:37.548607, lng:126.947495},
    {lat:37.548958, lng:126.947643},{lat:37.549887, lng:126.948203},{lat:37.549996, lng:126.948230},
    {lat:37.550287, lng:126.948243},{lat:37.550372, lng:126.948262},{lat:37.550459, lng:126.948326},
    {lat:37.550857, lng:126.948670},{lat:37.551469, lng:126.948703},{lat:37.552130, lng:126.949156}, 
    {lat:37.552311, lng:126.949407},{lat:37.552419, lng:126.948938},{lat:37.552292, lng:126.948584},
    {lat:37.552190, lng:126.948195},{lat:37.552066, lng:126.947814},{lat:37.552027, lng:126.947469},
    {lat:37.552087, lng:126.947246},{lat:37.552223, lng:126.947029},{lat:37.552233, lng:126.946906},
    {lat:37.552162, lng:126.946747},{lat:37.552157, lng:126.945189},{lat:37.551982, lng:126.944938},
    {lat:37.551490, lng:126.944473},{lat:37.550938, lng:126.944175},{lat:37.550138, lng:126.943970}
  ];

  //서강E(서강대 남문)
  var sogang_e = [
    {lat:37.549508, lng:126.940748},{lat:37.548904, lng:126.940769},{lat:37.548113, lng:126.942121},
    {lat:37.547858, lng:126.941900},{lat:37.547449, lng:126.942818},{lat:37.547117, lng:126.942413},
    {lat:37.546652, lng:126.942075},{lat:37.546796, lng:126.940575},{lat:37.547223, lng:126.937988},
    {lat:37.547384, lng:126.934301},{lat:37.548816, lng:126.932796},{lat:37.549929, lng:126.932928}, //구역3 독자영역 끝. 요 지점부터 정문구역 겹침) 
    {lat:37.549949, lng:126.933503},{lat:37.549758, lng:126.937520},{lat:37.549687, lng:126.937893},
    {lat:37.549706, lng:126.938092},{lat:37.549815, lng:126.938444},{lat:37.549394, lng:126.938764},
    {lat:37.549177, lng:126.939053},{lat:37.549508, lng:126.940748}
    ];
    
  //이화A(이대 정문)
  var ewha_a = [ //이대 정문 구역 //신촌기차역에서 시작. 이대정문구역이랑 겹침
    {lat:37.559112, lng:126.942823},{lat:37.558547, lng:126.942733},{lat:37.556472, lng:126.942865},//구역5, 공통구역이랑 만나는 꼭지점
    {lat:37.556897, lng:126.949849},//서강 구역2랑 겹침
    {lat:37.557547, lng:126.949815},{lat:37.558178, lng:126.948429},{lat:37.558574, lng:126.947969},
    {lat:37.558796, lng:126.947918},{lat:37.558752, lng:126.946537},{lat:37.559181, lng:126.946352},
    {lat:37.559162, lng:126.945679},{lat:37.559112, lng:126.942823}
    ];
    
  //이화-연세D(이대후문/연대동문) (B,C는 겹치는 구역)
  var ewha_yonsei_d = [             
    {lat:37.562777, lng:126.943213},{lat:37.563996, lng:126.944737},{lat:37.564362, lng:126.945107},
    {lat:37.566943, lng:126.946975},{lat:37.566913, lng:126.947406},{lat:37.566832, lng:126.947586},
    {lat:37.567125, lng:126.947889},{lat:37.566981, lng:126.948396},{lat:37.567104, lng:126.948498},
    {lat:37.567276, lng:126.948916},{lat:37.567393, lng:126.948882},{lat:37.567601, lng:126.948954},
    {lat:37.567733, lng:126.949420},{lat:37.568013, lng:126.949434},{lat:37.568188, lng:126.949329},
    {lat:37.568298, lng:126.949150},{lat:37.569115, lng:126.948040},{lat:37.569301, lng:126.947577},
    {lat:37.569189, lng:126.946146},{lat:37.569062, lng:126.945272},{lat:37.569065, lng:126.944933},
    {lat:37.568970, lng:126.944677},{lat:37.568506, lng:126.944824},{lat:37.568007, lng:126.945011},
    {lat:37.567569, lng:126.945156},{lat:37.567115, lng:126.945471},{lat:37.566486, lng:126.945841},
    {lat:37.566542, lng:126.946132},{lat:37.566193, lng:126.946113},{lat:37.565778, lng:126.945938},
    {lat:37.565632, lng:126.945814},{lat:37.565513, lng:126.945041},{lat:37.564280, lng:126.943566},
    {lat:37.564124, lng:126.943589},{lat:37.563741, lng:126.943811},{lat:37.563222, lng:126.943159},
    {lat:37.563068, lng:126.942993},{lat:37.562968, lng:126.943001},{lat:37.562777, lng:126.943213}
    ];
    
  //연세A(연대 정문) (B는 겹치는 구역)
  var yonsei_a = [  //명물길 예림고시원 앞에서 시작
    {lat:37.559068, lng:126.939704},{lat:37.559282, lng:126.939681},{lat:37.559358, lng:126.936327},
    {lat:37.559218, lng:126.934372},{lat:37.558977, lng:126.933753},{lat:37.558419, lng:126.932926},
    {lat:37.557389, lng:126.932107},{lat:37.556987, lng:126.931930},{lat:37.556154, lng:126.931892},
    {lat:37.555437, lng:126.932023},{lat:37.555075, lng:126.932181},{lat:37.554292, lng:126.932674},
    {lat:37.553346, lng:126.934091},{lat:37.554747, lng:126.936397},{lat:37.555070, lng:126.937191},
    {lat:37.555385, lng:126.938228},{lat:37.555458, lng:126.937795},{lat:37.555890, lng:126.937567},
    {lat:37.555941, lng:126.937473},{lat:37.556957, lng:126.937492},{lat:37.557570, lng:126.937447},
    {lat:37.559014, lng:126.939414},{lat:37.559068, lng:126.939704}
    ];
     
  //연세C(연대 남문) 
  var yonsei_c = [ 
    {lat:37.559218, lng:126.934372},{lat:37.559830, lng:126.934185},{lat:37.562716, lng:126.931055},{lat:37.564505, lng:126.929139},//연희교차로
    {lat:37.560915, lng:126.926766},{lat:37.559668, lng:126.926766},{lat:37.559598, lng:126.927887},
    {lat:37.559265, lng:126.928693},{lat:37.559191, lng:126.929309},{lat:37.558960, lng:126.929542},
    {lat:37.558817, lng:126.930105},{lat:37.557610, lng:126.931322},{lat:37.557389, lng:126.932107},//연대 정문구역과 만나는 지점  
    {lat:37.558419, lng:126.932926},{lat:37.558977, lng:126.933753},{lat:37.559218, lng:126.934372}
    ];
    
  //연세E(연대 서문)  
  var yonsei_e = [
    {lat:37.564505, lng:126.929139},{lat:37.569866, lng:126.933306},{lat:37.569403, lng:126.934577},
    {lat:37.569258, lng:126.934612},{lat:37.567914, lng:126.934999},{lat:37.567919, lng:126.935547},
    {lat:37.567540, lng:126.935828},{lat:37.566556, lng:126.935190},{lat:37.566350, lng:126.934866},
    {lat:37.566198, lng:126.934404},{lat:37.563799, lng:126.933859},{lat:37.563453, lng:126.933630},
    {lat:37.563158, lng:126.932769},{lat:37.563256, lng:126.932042},{lat:37.562716, lng:126.931055},{lat:37.564505, lng:126.929139}
    ];
    
//서강A(서강대 정문)
  var sogang_a = new google.maps.Polygon({
    paths: sogang_a,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#7FE817',
    fillOpacity: 0.3
  });
  <% if @univ.include? "서강" %>
    sogang_a.setMap(map);
    var sogang_a_mark = new google.maps.Marker({
        position: {lat: 37.552330, lng:126.936627},
        map: map,
        icon: a
      });
  <% end %>
  //공통B(서강-이화-연대)
  var sogang_ewha_yonsei_b = new google.maps.Polygon({
    paths: sogang_ewha_yonsei_b,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#8017E8',
    fillOpacity: 0.25
  });
  sogang_ewha_yonsei_b.setMap(map);
  var sogang_b_mark = new google.maps.Marker({
        position: {lat:37.556045, lng:126.940645},
        map: map,
        icon: b
      });
  
  //서강이화C(서강대 후문-이대역)
 var sogang_ewha_c = new google.maps.Polygon({
    paths: sogang_ewha_c,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#69FAAA',
    fillOpacity: 0.3
  });
<% unless @univ.include? "연세" %>
    sogang_ewha_c.setMap(map);
    var sogang_c_mark = new google.maps.Marker({
        position: {lat:37.554180, lng:126.946500},
        map: map,
        icon: c
      });
<% end %>
  //서강D(서강대 후문-대흥역)
  var sogang_d = new google.maps.Polygon({
    paths: sogang_d,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#008080',
    fillOpacity: 0.15
  });
  <% if @univ.include? "서강" %>
  sogang_d.setMap(map);
   var sogang_d_mark = new google.maps.Marker({
        position: {lat:37.548951, lng:126.945549},
        map: map,
        icon: d
      });
  <% end %>
  //서강E(서강대 남문)
  var sogang_e = new google.maps.Polygon({
    paths: sogang_e,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#F75D59',
    fillOpacity: 0.3
  });
  <% if @univ.include? "서강" %>
  sogang_e.setMap(map);
  var sogang_e_mark = new google.maps.Marker({
        position: {lat:37.548084, lng:126.936736},
        map: map,
        icon: e
      });
  <% end %>
  //이화A(이대 정문)
   var ewha_a = new google.maps.Polygon({
    paths: ewha_a,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#F87217',
    fillOpacity: 0.3
  });
  <% if @univ.include? "이화" %>
  ewha_a.setMap(map);
  var ewha_a_mark = new google.maps.Marker({
        position: {lat: 37.557620, lng:126.946500},
        map: map,
        icon: a
      });
  <% end %>
  //이화-연세D(이대후문/연대동문)
  var ewha_yonsei_d = new google.maps.Polygon({
    paths: ewha_yonsei_d,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#7FE817',
    fillOpacity: 0.3
  });
<% unless @univ.include? "서강" %>
  ewha_yonsei_d.setMap(map);
  var ewha_d_mark = new google.maps.Marker({
        position: {lat: 37.567826, lng:126.947576},
        map: map,
        icon: d
      });
<% end %>
  //연세A(연대 정문)
   var yonsei_a = new google.maps.Polygon({
    paths: yonsei_a,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#B51414',
    fillOpacity: 0.2
   });
<% if @univ.include? "연세" %>
  yonsei_a.setMap(map);
  var yonsei_a_mark = new google.maps.Marker({
        position: {lat: 37.556029, lng:126.935924},
        map: map,
        icon: a
      });
   <% end %>
  //연세C(연대 남문) 
 var yonsei_c = new google.maps.Polygon({
    paths: yonsei_c,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#FFFF00',
    fillOpacity: 0.2
  });
<% if @univ.include? "연세" %>
  yonsei_c.setMap(map);
  var yonsei_c_mark = new google.maps.Marker({
        position: {lat:37.559828, lng:126.931001},
        map: map,
        icon: c
      });
  <% end %>
  //연세E(연대 서문) 
 var yonsei_e = new google.maps.Polygon({
    paths: yonsei_e,
    strokeColor: '#594F4F',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: '#1414B4',
    fillOpacity: 0.2
  });
  <% if @univ.include? "연세" %>
   yonsei_e.setMap(map);
   var yonsei_e_mark = new google.maps.Marker({
        position: {lat: 37.565674, lng:126.933008},
        map: map,
        icon: e
      });
 <% end %>
 
 
    $.get("/map/from_hasuk", function(data, status) {
       for(var i=0; i<data.length; i++) {
          var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
         if(google.maps.geometry.poly.containsLocation(latlng, sogang_a)==true){
            map.setCenter({ lat: 37.548734, lng: 126.944784},true);
            map.setZoom(17);
            var marker = new google.maps.Marker({
              position: latlng,
              title: data[i].price,
              map: map
          });
          marker.setMap(map);
          }
        }
    }); 
      
      //학교별 마커 띄우기 시작
    if( "<%= @kind %>" == "자취"){
      $.get("/map/from_oneroom", function(data, status){
            for (var i = 0; i < data.length; i++){
                var univs = data[i].univ;
                
                
                //자취만 선택했을 때
                if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({ lat: 37.551445, lng: 126.940793}, true);
                    map.setZoom(16);
                    
                            if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                                if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                                  var marker = new google.maps.Marker({
                                        position: latlng,
                                        title:data[i].kind,
                                        map: map
                                  });
                                marker.setMap(map);
                                }
                            }
                        
                     
                }    else if("<%= @univ %>" == "이화" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({ lat: 37.561803, lng: 126.946909}, true);
                    map.setZoom(15);
                    
                            if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                                if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                                  var marker = new google.maps.Marker({
                                        position: latlng,
                                        title:data[i].kind,
                                        map: map
                                  });
                                marker.setMap(map);
                                }
                            }
                       
                    
                } else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({ lat: 37.561257, lng: 126.936974}, true);
                    map.setZoom(15);
                 
                            if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                                if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                                  var marker = new google.maps.Marker({
                                        position: latlng,
                                        title:data[i].kind,
                                        map: map
                                  });
                                marker.setMap(map);
                                }
                            }
                
                }
                
                
                //서강대학교 A,B,C,D,E 구역 검색
              if( "<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                  map.setCenter({lat:37.551987, lng:126.936129}, true);
                  map.setZoom(17);
                 if(google.maps.geometry.poly.containsLocation(latlng, sogang_a) == true){
                  if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                    if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                      var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      var marker = new google.maps.Marker({
                        position: latlng,
                        title:data[i].kind,
                        map: map
                      });
                    marker.setMap(map);
                    }
                  }
                }
              } else if(univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "B") {
                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.556506, lng:126.940562}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                     if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                       var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                       var marker = new google.maps.Marker({
                         position: latlng,
                         title:data[i].kind,
                         map: map
                       });
                     marker.setMap(map);
                     }
                   }
                 }
                } else if( ("<%= @univ%>" == "서강" || "<%= @univ%>" == "이화") &&univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "C") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.554431, lng:126.946720}, true);
                    map.setZoom(17);
                  if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_c) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  else if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "D") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.549298, lng:126.945738}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_d) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  else if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "E") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.548455, lng:126.937960}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_e) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                  //이화여대 A, B, C, D
                 }  else if("<%= @univ %>" == "이화" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                     map.setCenter({lat:37.557854, lng:126.946183}, true);
                     map.setZoom(17);
                    if(google.maps.geometry.poly.containsLocation(latlng, ewha_a) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  /*else if( univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "B") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556506, lng:126.940562}, true);
                      map.setZoom(17);
                    if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  }*/  /*else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "C") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.554431, lng:126.946720}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_c) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */ else if(("<%= @univ%>" == "이화" || "<%= @univ%>" == "연세") && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "D") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566394, lng:126.946544}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, ewha_yonsei_d) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                   //연세대학교 A, B, C, D, E
                  } else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556723, lng:126.935538}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_a) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } /* else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "B") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556506, lng:126.940562}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */ else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "C") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.560352, lng:126.930377}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_c) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  }  /* else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "D") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566394, lng:126.946544}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, ewha_yonsei_d) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */  else if("<%= @univ %>" == "연세" &&univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "E") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566025, lng:126.932722}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_e) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } 
            } //for roop
      });         
    }//원룸으로 가는 if 끝

    else if( "<%= @kind %>" == "하숙") {
      $.get("/map/from_hasuk", function(data, status){
        for (var i = 0; i < data.length; i++){
          if(data[i].deposit == null){
            data[i].deposit = 0;
          }
          
          var univs = data[i].univ;
          
           //하숙만 선택했을 때
                if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({ lat: 37.551445, lng: 126.940793}, true);
                    map.setZoom(16);
                    
                            if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                                if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                                  var marker = new google.maps.Marker({
                                        position: latlng,
                                        title:data[i].kind,
                                        map: map
                                  });
                                marker.setMap(map);
                                }
                            }
                        
                     
                }    else if("<%= @univ %>" == "이화" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({ lat: 37.561803, lng: 126.946909}, true);
                    map.setZoom(15);
                    
                            if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                                if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                                  var marker = new google.maps.Marker({
                                        position: latlng,
                                        title:data[i].kind,
                                        map: map
                                  });
                                marker.setMap(map);
                                }
                            }
                       
                    
                } else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({ lat: 37.561257, lng: 126.936974}, true);
                    map.setZoom(15);
                 
                            if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                                if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                                  var marker = new google.maps.Marker({
                                        position: latlng,
                                        title:data[i].kind,
                                        map: map
                                  });
                                marker.setMap(map);
                                }
                            }
                
                }
           
              if( "<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                  map.setCenter({lat:37.551987, lng:126.936129}, true);
                  map.setZoom(17);
                 if(google.maps.geometry.poly.containsLocation(latlng, sogang_a) == true){
                  if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                    if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                      var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      var marker = new google.maps.Marker({
                        position: latlng,
                        title:data[i].kind,
                        map: map
                      });
                    marker.setMap(map);
                    }
                  }
                }
              } else if(univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "B") {
                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.556506, lng:126.940562}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                     if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                       var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                       var marker = new google.maps.Marker({
                         position: latlng,
                         title:data[i].kind,
                         map: map
                       });
                     marker.setMap(map);
                     }
                   }
                 }
                } else if( ("<%= @univ%>" == "서강" || "<%= @univ%>" == "이화") &&univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "C") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.554431, lng:126.946720}, true);
                    map.setZoom(17);
                  if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_c) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  else if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "D") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.549298, lng:126.945738}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_d) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  else if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "E") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.548455, lng:126.937960}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_e) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                  //이화여대 A, B, C, D
                 }  else if("<%= @univ %>" == "이화" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                     map.setCenter({lat:37.557854, lng:126.946183}, true);
                     map.setZoom(17);
                    if(google.maps.geometry.poly.containsLocation(latlng, ewha_a) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  /*else if( univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "B") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556506, lng:126.940562}, true);
                      map.setZoom(17);
                    if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  }*/  /*else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "C") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.554431, lng:126.946720}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_c) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */ else if(("<%= @univ%>" == "이화" || "<%= @univ%>" == "연세") && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "D") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566394, lng:126.946544}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, ewha_yonsei_d) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                   //연세대학교 A, B, C, D, E
                  } else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556723, lng:126.935538}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_a) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } /* else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "B") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556506, lng:126.940562}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */ else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "C") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.560352, lng:126.930377}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_c) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  }  /* else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "D") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566394, lng:126.946544}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, ewha_yonsei_d) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */  else if("<%= @univ %>" == "연세" &&univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "E") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566025, lng:126.932722}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_e) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } 
        }//for loop
      });
      
    } //하숙으로 가는 else if 끝

    else {

//원룸 조건 없을 때 출력
      $.get("/map/from_oneroom", function(data, status){
        for (var i = 0; i < data.length; i++){
            var univs = data[i].univ;
            
             if( "<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                  map.setCenter({lat:37.551987, lng:126.936129}, true);
                  map.setZoom(17);
                 if(google.maps.geometry.poly.containsLocation(latlng, sogang_a) == true){
                  if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                    if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                      var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      var marker = new google.maps.Marker({
                        position: latlng,
                        title:data[i].kind,
                        map: map
                      });
                    marker.setMap(map);
                    }
                  }
                }
              } else if(univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "B") {
                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.556506, lng:126.940562}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                     if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                       var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                       var marker = new google.maps.Marker({
                         position: latlng,
                         title:data[i].kind,
                         map: map
                       });
                     marker.setMap(map);
                     }
                   }
                 }
                } else if( ("<%= @univ%>" == "서강" || "<%= @univ%>" == "이화") &&univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "C") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.554431, lng:126.946720}, true);
                    map.setZoom(17);
                  if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_c) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  else if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "D") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.549298, lng:126.945738}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_d) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  else if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "E") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.548455, lng:126.937960}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_e) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                  //이화여대 A, B, C, D
                 }  else if("<%= @univ %>" == "이화" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                     map.setCenter({lat:37.557854, lng:126.946183}, true);
                     map.setZoom(17);
                    if(google.maps.geometry.poly.containsLocation(latlng, ewha_a) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  /*else if( univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "B") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556506, lng:126.940562}, true);
                      map.setZoom(17);
                    if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  }*/  /*else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "C") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.554431, lng:126.946720}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_c) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */ else if(("<%= @univ%>" == "이화" || "<%= @univ%>" == "연세") && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "D") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566394, lng:126.946544}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, ewha_yonsei_d) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                   //연세대학교 A, B, C, D, E
                  } else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556723, lng:126.935538}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_a) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } /* else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "B") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556506, lng:126.940562}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */ else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "C") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.560352, lng:126.930377}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_c) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  }  /* else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "D") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566394, lng:126.946544}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, ewha_yonsei_d) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */  else if("<%= @univ %>" == "연세" &&univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "E") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566025, lng:126.932722}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_e) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } 

        }//for roop 끝
      });

//하숙 조건 없을 때 출력
      $.get("/map/from_hasuk", function(data, status){
        for (var i = 0; i < data.length; i++){
            var univs = data[i].univ;
            
             if( "<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                  map.setCenter({lat:37.551987, lng:126.936129}, true);
                  map.setZoom(17);
                 if(google.maps.geometry.poly.containsLocation(latlng, sogang_a) == true){
                  if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                    if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                      var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      var marker = new google.maps.Marker({
                        position: latlng,
                        title:data[i].kind,
                        map: map
                      });
                    marker.setMap(map);
                    }
                  }
                }
              } else if(univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "B") {
                  var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.556506, lng:126.940562}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                     if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                       var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                       var marker = new google.maps.Marker({
                         position: latlng,
                         title:data[i].kind,
                         map: map
                       });
                     marker.setMap(map);
                     }
                   }
                 }
                } else if( ("<%= @univ%>" == "서강" || "<%= @univ%>" == "이화") &&univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "C") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.554431, lng:126.946720}, true);
                    map.setZoom(17);
                  if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_c) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  else if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "D") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.549298, lng:126.945738}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_d) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  else if("<%= @univ %>" == "서강" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "E") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    map.setCenter({lat:37.548455, lng:126.937960}, true);
                    map.setZoom(17);
                   if(google.maps.geometry.poly.containsLocation(latlng, sogang_e) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                  //이화여대 A, B, C, D
                 }  else if("<%= @univ %>" == "이화" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                   var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                     map.setCenter({lat:37.557854, lng:126.946183}, true);
                     map.setZoom(17);
                    if(google.maps.geometry.poly.containsLocation(latlng, ewha_a) == true){
                    if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                      if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                        var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                        var marker = new google.maps.Marker({
                          position: latlng,
                          title:data[i].kind,
                          map: map
                        });
                      marker.setMap(map);
                      }
                    }
                  }
                 }  /*else if( univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "B") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556506, lng:126.940562}, true);
                      map.setZoom(17);
                    if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  }*/  /*else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "C") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.554431, lng:126.946720}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_c) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */ else if(("<%= @univ%>" == "이화" || "<%= @univ%>" == "연세") && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "D") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566394, lng:126.946544}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, ewha_yonsei_d) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                   //연세대학교 A, B, C, D, E
                  } else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "A") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556723, lng:126.935538}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_a) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } /* else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "B") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.556506, lng:126.940562}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, sogang_ewha_yonsei_b) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */ else if("<%= @univ %>" == "연세" && univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "C") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.560352, lng:126.930377}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_c) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  }  /* else if(univs.indexOf("<%#= @univ %>") !== -1 && "<%#= @section %>" == "D") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566394, lng:126.946544}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, ewha_yonsei_d) == true){
                      if(data[i].deposit >= <%#= @deposit_min %> && data[i].deposit <= <%#= @deposit_max %>) {
                       if(data[i].price >= <%#= @price_min %> && data[i].price <= <%#= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } */  else if("<%= @univ %>" == "연세" &&univs.indexOf("<%= @univ %>") !== -1 && "<%= @section %>" == "E") {
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                      map.setCenter({lat:37.566025, lng:126.932722}, true);
                      map.setZoom(17);
                     if(google.maps.geometry.poly.containsLocation(latlng, yonsei_e) == true){
                      if(data[i].deposit >= <%= @deposit_min %> && data[i].deposit <= <%= @deposit_max %>) {
                       if(data[i].price >= <%= @price_min %> && data[i].price <= <%= @price_max %>) {
                         var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                         var marker = new google.maps.Marker({
                           position: latlng,
                           title:data[i].kind,
                           map: map
                         });
                       marker.setMap(map);
                       }
                     }
                   }
                  } 
        }//for roop 끝

      });
} //자취 하숙 모두 나올 수 있는 검색 조건 끝
     
      
      //검색 버튼 누르기 효과 시작
      $(document).ready(function() {
        
        $("#bt1").click(function(){
          $(this).addClass("active");
          $("#bt2").removeClass("active");
        });
         $("#bt2").click(function(){
          $(this).addClass("active");
          $("#bt1").removeClass("active");
        });
        $("#bt3").click(function(){
          $(this).addClass("active");
          $("#bt4").removeClass("active");
          $("#bt5").removeClass("active");
          $("#bt6").removeClass("active");
          $("#bt7").removeClass("active");
        });
        $("#bt4").click(function(){
          $(this).addClass("active");
          $("#bt3").removeClass("active");
          $("#bt5").removeClass("active");
          $("#bt6").removeClass("active");
          $("#bt7").removeClass("active");
        });
        $("#bt5").click(function(){
          $(this).addClass("active");
          $("#bt3").removeClass("active");
          $("#bt4").removeClass("active");
          $("#bt6").removeClass("active");
          $("#bt7").removeClass("active");
        });
        $("#bt6").click(function(){
          $(this).addClass("active");
          $("#bt3").removeClass("active");
          $("#bt4").removeClass("active");
          $("#bt5").removeClass("active");
          $("#bt7").removeClass("active");
        });
        $("#bt7").click(function(){
          $(this).addClass("active");
          $("#bt3").removeClass("active");
          $("#bt4").removeClass("active");
          $("#bt5").removeClass("active");
          $("#bt6").removeClass("active");
        });
        $("#bt8").click(function(){
          $(this).addClass("active");
          $("#bt9").removeClass("active");
          $("#bt10").removeClass("active");
        });
        $("#bt9").click(function(){
          $(this).addClass("active");
          $("#bt8").removeClass("active");
          $("#bt10").removeClass("active");
        });
        $("#bt10").click(function(){
          $(this).addClass("active");
          $("#bt8").removeClass("active");
          $("#bt9").removeClass("active");
        });
        

      }); //검색버튼 누르기 효과 끝
      
        
        
      } //구글맵 기본 설정 끝
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
  <!--지도부분 시작-->
  <div class="col-md-8 col-sm-12 col-xs-12 map_container" style="padding-left:0px; padding-right:0px;">         
    <!-- head에서 설정한 id로 map이 들어온다. -->
    <div id="map-canvas">
    </div>  
  </div><!--지도부분 끝-->
  
  
  
  <!--오른쪽 박스 시작-->
  <div class="col-md-4 col-sm-12 col-xs-12 mainbox" style="padding-left: 0px; padding-right: 0px;">
   
    <!--검색박스 부분 시작-->
    <div class="searchbox col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0px;padding-left: 0px;padding-right: 0px;">
          <div class="panel-body">
            <form action="/map/map_detail" method="POST">
              
              <!--학교별 input 생각-->
              <input type="hidden" value="<%= @univ %>" name="univ">
              
              <div class="btn-group" data-toggle="buttons" style="margin-bottom:10px;">
                <label class="btn btn-default">
                    <input type="radio" id="bt1" name="kind" value="자취" /> 자취
                </label> 
                <label class="btn btn-default">
                    <input type="radio" id="bt2" name="kind" value="하숙" /> 하숙
                </label>   
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0px;">
                  <label>보증금</label>
                  <div class="form-group">
                    <div class="btn-group">
                      <select class="form-control" name="deposit_min" style="padding-left:10px; padding-right: 0px;">
                        <option value=0>없음</option>
                        <option value=100>100만</option>
                        <option value=300>300만</option>
                        <option value=500>500만</option>
                        <option value=1000>1,000만</option>
                        <option value=2000>2,000만</option>
                      </select>
                    </div>
                    ~
                    <div class="btn-group">
                       <select class="form-control deposit2" name="deposit_max" style="padding-left:10px; padding-right: 0px;">
                        <option value=100000>무제한</option>
                        <option value=100>100만</option>
                        <option value=300>300만</option>
                        <option value=500>500만</option>
                        <option value=1000>1,000만</option>
                        <option value=2000>2,000만</option>
                      </select>
                    </div>
              </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <label>월세</label>
                  <div class="form-group">
                    <div class="btn-group">
                      <select class="form-control month1" name="price_min" style="padding-left:10px; padding-right: 0px;">
                        <option value=0>없음</option>
                        <option value=20>20만</option>
                        <option value=30>30만</option>
                        <option value=40>40만</option>
                        <option value=50>50만</option>
                        <option value=60>60만</option>
                        <option value=70>70만</option>
                        <option value=80>80만</option>
                      </select>
                    </div>
                    ~
                    <div class="btn-group">
                       <select class="form-control month2" name="price_max" style="padding-left:10px; padding-right: 0px;">
                        <option value=1000000>무제한</option>
                        <option value=20>20만</option>
                        <option value=30>30만</option>
                        <option value=40>40만</option>
                        <option value=50>50만</option>
                        <option value=60>60만</option>
                        <option value=70>70만</option>
                        <option value=80>80만</option>
                      </select>
                    </div>
              </div>
                </div>
              </div>
              

            
          <div class="btn-group col-md-12 col-sm-12 col-xs-12" data-toggle="buttons" style="margin-bottom:10px; padding-left:0px;">
                  <label class="btn btn-default">
                      <input type="radio" id="bt3" name="section" value="A" /> A구역
                  </label> 
                  <label class="btn btn-default">
                      <input type="radio" id="bt4" name="section" value="B" /> B구역
                  </label> 
                  <label class="btn btn-default">
                      <input type="radio" id="bt5" name="section" value="C" /> C구역
                  </label> 
                  <label class="btn btn-default">
                      <input type="radio" id="bt6" name="section" value="D" /> D구역
                  </label> 
                  <label class="btn btn-default">
                      <input type="radio" id="bt7" name="section" value="E" /> E구역
                  </label>
              </div>
              
              <div class="col-md-9 col-sm-9 col-xs-9 btn-group" data-toggle="buttons" style="margin-bottom:10px; padding-left:0px;padding-right: 0px;">
                <label class="btn btn-default">
                    <input class="btn btn-default" type="radio" id="bt8" name="distance" value="0분 거리" /> 5분 거리
                 </label>
                <label class="btn btn-default">
                    <input type="radio" id="bt9" name="distance" value="10분 거리" /> 10분 거리
                </label> 
                <label class="btn btn-default">
                    <input type="radio" id="bt10" name="distance" value="15분 거리" /> 15분 거리
                </label>   
              </div>
              
              <input id="search" type="submit" value="검색하기" class="btn btn-primary col-md-3 col-sm-3 col-xs-3">
             
            </form>
                  
          </div>
        </div>   
    </div> <!--검색 박스 끝 -->
    
    <!--방 리스트 박스-->
    <div class="listbox col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading col-md-12 col-xs-12 col-sm-12" style="background-color:#337ab7; color:#fff"><strong>최근에 올라온 방 목록</strong></div>
        <div class="panel-body" style="padding-left: 5px; padding-top: 5px; padding-left: 0px; overflow:auto; height:310px">
      
      <% @all.each do |c| %>
        <% if (c.univ || '').include? @univ %>
          <% cnt = 0 %>
          <% if c.kind == "자취" %>
              <div id='room' style='margin-top:3px; margin-bottom:3px;'><!--개별 방 박스1 시작-->
              <div class="row">
                <div class='col-md-4 col-xs-4 col-sm-4' style="width: 100px; padding-left:5px; padding-right:0px">
                   <img src='<%= c.img%>' height="80px"  width='100px'>
                </div><!-- 왼쪽 -->
              
               <div class='col-md-8 col-xs-8 col-sm-8' style="padding-right: 0px;">
                   <div class="row" style="margin-left:1px; padding-left:0px; padding-right:0px">
                     <div class="col-md-5 col-sm-5 col-xs-5" style="padding-left:0px; padding-right:0px width:95px">
                       <p style="font-size: 24px; margin-top:5px"><%= c.deposit %>/<%= c.price %></p>
                     </div>
                     <div class="col-md-7 col-sm-7 col-xs-7" style="margin-top:3px; margin-bottom:5px; padding-left:0px; padding-right:0px">
                       <button><%= c.room_floor %>층</button>&nbsp;&nbsp;<button><%= c.kind %></button>
                    </div>
                <p style='margin-bottom:5px; font-size:16px'>거리 : 정문에서 10분(500m)</p>
                <p style='color:#eb9088; margin-bottom:5px; font-size:14px'>#<%= c.univ %> #관리비: <%= c.admin_fee %>만원 #<%= c.size%>평</p>
                  </div>
              </div><!-- 오른쪽 -->
              </div>
            </div> <!-- 개별 방 박스1 끝-->
          <% elsif c.kind == "하숙" %>
            <div id='room' style='margin-bottom:5px'><!--개별 방 박스 1 시작-->
            <div class="row">
              <div class='col-md-4 col-sm-4 col-xs-4' style=" width: 100px; padding-left: 5px; padding-right: 0px;">
                  <img src='<%= c.img%>' height="80px" width='100px'>
                </div>
              
              <div class='col-md-8 col-sm-8 col-xs-8' style="padding-right: 0px;">
                  <div class="row" style="margin-left:1px; padding-left:0px; padding-right:0px">
                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left:0px; padding-right:0px">
                      <p style="font-size: 24px; margin-top:5px"><%= c.price %></p>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10" style="margin-top:3px; margin-bottom:5px; padding-left:0px; padding-right:0px">
                     (예치금: <%= c.deposit%>만원)&nbsp;
                      <button><%= c.room_floor %>층</button>&nbsp;&nbsp;<button><%= c.kind %></button>
                    </div>
                 </div>
                <p style='margin-bottom:5px; font-size:16px'>거리 : 정문에서 10분(500m)</p>
                <p style='color:#eb9088; margin-bottom:5px; font-size:15px'>#<%= c.univ %> #아침,저녁</p>
              </div>
              </div>
            </div> <!-- 개별 방 박스1 끝-->
        <% end %>
        
        <% cnt+=1 %>
          <% if cnt == 5 %>
            <% break %>
          <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  </div><!--방 리스트 박스 끝--> 
  
  </div><!--오른쪽 박스 끝 -->
